Package: com.crazybloo.controlpanel10
Name: controlpanel10
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: CrazyBloo
Author: CrazyBloo
Section: Tweaks
