Package: com.crazybloo.controlpanel10
Name: controlpanel10
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: CrazyBloo
Author: CrazyBloo
Section: Tweaks
Version: 0.0.1-5+debug
Installed-Size: 274
